*{
    margin: 0;
    padding: 0;
}



nav{
    margin-top: 10px;
}

.nav1{
    display: flex;
}

.arber{
    margin-top: 40px;
}

.list{
    
    display: flex;
    list-style: none;
    width: 900px;
}

.list .list_item {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 133.6%;
    color: #163561;
    width: 60px;
    width: 90px;
    height: 100px;
}

.list .list_item  span {
    color: red;
    background: #A3C1EF;
border-radius: 5px;
font-family: 'Catamaran';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 133.6%;
color: #FFFFFF;


}

.nav2{
    
    width: 300px;
}

.nav_button{
    background: #99BAED;
border-radius: 20px;
width: 188px;
height: 76px;
font-family: 'Catamaran';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150.6%;
border: none;
letter-spacing: 0.03em;

color: #FFFFFF;


}
header{
    margin-top: 100px;
}

.header_text{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 700;
font-size: 75px;
line-height: 133.6%;
color: #163561;


}

.header_text span{

  color: #FBB400;
}

.header_p{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150.6%;
letter-spacing: 0.03em;
color: #153461;
opacity: 0.65;
}

.header_button{
    background: #99BAED;
border-radius: 20px;
width: 188px;
height: 75px;
font-family: 'Catamaran';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150.6%;
letter-spacing: 0.03em;
border: none;

color: #FFFFFF;

}

.header_img{
    width: 734px;
}




.section1{
    margin-top: 200px;
}


.section1_img{
    width: 710px;
}

.section1_our{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 150.6%;
letter-spacing: 0.03em;

color: #163561;
}

.section1_our span{

color: #FBB400
}


.section1-text1{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150.6%;
/* or 38px */
width: 530px;
letter-spacing: 0.03em;

color: #153461;

opacity: 0.65;
}

.section1-tex{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150.6%;
/* or 38px */
width: 530px;
letter-spacing: 0.03em;

color: #153461;

opacity: 0.65;
}

.section1_button{
    background: #99BAED;
border-radius: 20px;
font-family: 'Catamaran';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150.6%;
letter-spacing: 0.03em;
width: 188px;
height: 75px;
color: #FFFFFF;
border: none;
}
.box{
    width: 441px;
    height: 533px;
    /* left: 249px;
    top: 2569px;
     */
    margin-left: -100px;
    background: #135fab;
    border-radius: 29px;
}
.box :hover{
    background-color: #868686;
}
.hain{
    margin-top: 59px;
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 116.6%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #163561;    
}
.long{
    margin-top: 60px;
    font-family: 'Catamaran';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150.6%;
text-align: center;
letter-spacing: 0.03em;
color: #153461;
opacity: 0.65;
}
#imd{
   width: 160px;
}

#imd1{
    width: 160px;
 }

 #imd2{
    width: 160px;
 }
.imgCard{
    margin: auto;

    background: #E5ECFE;
box-shadow: 0px 1px 0px #008FDD;
border-radius: 13px;
width: 161px;
}

.i{
    margin-left: 200px;
}


.section2{
margin-top: 100px;
}

.section2_text{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 116.6%;
/* or 82px */

text-align: center;
letter-spacing: 0.03em;

color: #163561;

}

.section2_text span{
    

color: #FBB400;

}

.section3{
    margin-top: 100px;
}

.section_3{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 116.6%;
/* identical to box height, or 82px */

text-align: center;
letter-spacing: 0.03em;

color: #163561;

}

.section_3 span{
   color: #FBB400;
}


.soqol{
    margin-bottom: -83px;
    margin-top: 150px;
    width: 100%;
}


.section3_button{
        
font-weight: 700;
font-size: 20px;
line-height: 150.6%;
/* or 30px */

letter-spacing: 0.03em;

color: #FFFFFF;
padding: 22px 56px;
border: none;

background: #99BAED;
border-radius: 20px;
margin-top: 160px;

}


footer{
    margin-top: 100px;
}

.df5{
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
}




.bek{
    
background: #D3E5FF;
    color: #FFFFFF;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
}

.bek2{
    background: #D3E5FF;
    color: #FFFFFF;
    width: 67px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer_p{
    font-family: 'Catamaran';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 150.6%;
/* or 38px */

text-align: center;
letter-spacing: 0.03em;

color: #153461;

opacity: 0.65;
width: 521px;
    margin-left: -155px;
}





@media only screen and (max-width:575px){




ul{
    margin-left: 75px;
}

.nav2{
   
    margin-left: 350px;
}

    
    .header_text{
        width: 600px;
        margin-left: 231px;
     
    }

    .header_p{
        width: 519px;
        margin-left: 231px;
    }

    .header_img{
        margin-top: 613px;
    }

    .header_button{
        margin-left: 400px;
    }


    .section1_img{
     margin-left: 150px;
    }
    .section1_our {
    margin-top:  671px;
    width: 400px;
    margin-left: 30px;
    }

    .section1-tex1{
        margin-left: 400px;
    }

    .section1-tex{
        margin-left: 5px;
        margin-top: 100px;
    }

    .section1_button{
        margin-left: 198px;
    }
    

    .i{
        margin-left: 70px;
       margin-top: 100px;
    }
    

    .section2_text{
   width: 400px;
   margin-left: 250px;
    }
    .box{
        margin-top: 20px;
        margin-left: 270px;
    }

    .soqol{
        margin-left: 310px;
       
    }
    
.section_3{
    width: 410px;
    margin-left: 300px;
}

.section3_button{
    margin-left: 350px;
    width: 200px;
}

.footer_img{
    margin-left: 361px;
    width: 200px;
}


.footer_p{
    margin-left: 200px;
}

.df5{
    margin-left: 320px;
    width: 297px;
}

.hra{
    border: 1px solid #a899ed;
    
}

}

